body {
    margin: 0px;
    padding: 3rem;
    user-select: none;
    color: white;
    font-size: 22px;
    background-color: #2D2E29;
    font-family: "Audiowide", sans-serif;
}

#container {
    width: calc(100vw - 6rem);
    height: calc(100vh - 6rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    width: 40%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    height: calc(100% - 4rem);
}

#menu h1 {
    font-size: 2.5rem;
    margin: 0;
}

#menu h2 {
    font-size: 1rem;
    color: #98CAFD;
    margin: 1.5rem 0;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
}

#info p {
    font-size: 1.4rem;
    margin-top: 2rem;
}

#info span {
    color: #98CAFD;
}

#btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

#btns span {
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.3rem 1rem;
    margin-bottom: 1rem;
    width: 30%;
    max-width: 200px;
}

#route {
    border: 1px solid #98CAFD;
    color: #98CAFD;
}

#route:hover {
    background-color: #98CAFD;
    color: #2D2E29;
}

#reset {
    border: 1px solid #FFCCCC;
    color: #FFCCCC;
}

#reset:hover {
    background-color: #FFCCCC;
    color: #2D2E29;
}

#map {
    width: 60%;
    height: 100%;
    background-color: #98CAFD;
    border: 1px solid white;
}